<a href="https://colab.research.google.com/github/MrudulaBharadwaj/Internship/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PANDAS** it can be created from a list or arrays

In [0]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])  #series wraps both the series of indicies and values
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

**Series as generalized NumPy array**

In [11]:
data = pd.Series([1, 2, 3, 4],
                 index=['a', 'b', 'c', 'd'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
data['b']

2

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64


Series as specialized dictionary

In [15]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
population['California']

38332521

In [18]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Constructing Series objects

In [23]:
#pd.Series(data, index=index)
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [26]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [28]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [30]:
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

In [31]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [32]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [33]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [34]:
states.columns

Index(['population', 'area'], dtype='object')

In [35]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [36]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [37]:
#from a list of dicts
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [38]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

From a two-dimensional NumPy array

In [40]:
pd.DataFrame(np.random.rand(3,2),columns=["foo","bar"],index=['a','b','c'])

        foo       bar
a  0.151630  0.281587
b  0.273506  0.613273
c  0.393754  0.893126

In [43]:
#From a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i4'), ('B', 'i4')])
A

array([(0, 0), (0, 0), (0, 0)], dtype=[('A', '<i4'), ('B', '<i4')])

In [44]:
pd.DataFrame(A)

   A  B
0  0  0
1  0  0
2  0  0

**The Pandas Index Object***

In [45]:
ind=pd.Index([2,3,5,6,7])
ind

Int64Index([2, 3, 5, 6, 7], dtype='int64')

In [46]:
ind[1]

3

In [47]:
ind[::2]

Int64Index([2, 5, 7], dtype='int64')

In [48]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [49]:
#index doesnot support mutable operations
ind[1]=0

TypeError: ignored

Index as ordered set

In [0]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [51]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [52]:
indA|indB #union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [53]:
indA^indB #symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [54]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')